<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\test.mdf;Integrated Security=True;User Instance=True" name="test" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="VideoMembershipProvider">
      <providers>
        <clear/>
        <add name="VideoMembershipProvider" type="VideoServiceWithSpringSecurity.Repository.VideoMembershipProvider" VideoRepositoryType="VideoServiceWithSpringSecurity.Repository.LINQVideoRepository" />
      </providers>
    </membership>
    <roleManager defaultProvider="VideoRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="VideoRoleProvider"  type="VideoServiceWithSpringSecurity.Repository.VideoRoleProvider"  VideoRepositoryType="VideoServiceWithSpringSecurity.Repository.LINQVideoRepository"/>
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms timeout="30" slidingExpiration="true" />
    </authentication>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
